/* интересная тень 
.style_Node__GkK82 .style_NodeImage__FiBL5 {
    width: 100%;
    height: 110px;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0.1rem 0.2rem 0px;
    position: relative;
    bottom: 0px;
    background: rgb(255, 255, 255);
    border-radius: 0.3rem;
    border-width: 0.5rem;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-image: initial;
    transition: box-shadow 0.2s ease 0s, bottom 0.2s ease 0s;
} 
*/


